.container_emp
{
    width: 35cm;
    margin: 0 auto;
    margin-right: 0px;
    margin-left: 0.5cm;
    display:flex;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.emprendimiento{
    padding-top: 30px;
    padding: 20px;
    background-color: #c0c0c0;
    height: 8cm;
    width: 9cm;
    position: relative;
    overflow: hidden;
    border-radius: 15px 50px; 
    margin: 13px;
}
.emprendimiento_dest{
    padding-top: 30px;
    padding: 20px;
    background-color: #c0c0c0;
    height: 8cm;
    width: 9cm;
    position: relative;
    overflow: hidden;
    border-radius: 15px 50px; 
    margin: 13px;
    background-image: linear-gradient(to right, #ff9a16 , #90aece);
    box-shadow: 10px 10px 15px #000000;

}
#nombre{
    text-align: center;
    font-style: oblique;
    font-size: 17px;
}
h3{
    font-size: 13px;
}

#imagen{
    position: relative;
    text-align: center;
    max-width: 5cm;
    max-height: 3cm;
    width: auto;
    height: auto;
    text-align: center;
    top:55px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mostrar{
    width: 100px;
    height: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    border-radius: 20px;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #62518b;
}
.button:hover {
    background-color: #85ccc5; /* Cambia el color de fondo al pasar el ratón */
}
.button:active {
    transition-duration: 0.4s;
    background-color: #6d9567; /* Cambia el color de fondo al hacer clic */
}
#mostrar_dest{
    width: 100px;
    height: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    border-radius: 20px;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #ccb18e;
}