#botonRegistrarse {
    padding: 20px 20px; 
    font-size: 20px; /* zoom*/
    background-color: #ff9a16;
    color: #fff;
    border: none;
    border-radius: 30px; /*define los bordes mas redondeados*/
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 0px;
    float: left; 
}

#botonRegistrarse:hover {
    background-color: #90aece;
}


.interactive-section {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    width: 300px; 
    height: 150px; 
}


.interactive-section:hover {
    transform: scale(1.05); 
    background-color: #e0e0e0;
}

.interactive-section p {
    margin: 0;
    font-size: 18px;
    transition: color 0.3s;
}

.interactive-section:hover p {
    color: #000000;
}

header
{
    width: 98%;
    background-color: black;
    display: table;
    padding: 1%;
}
.menu
{
    margin: 0 auto;
    width: 900px;
}

.textoCentrado
{
    color: rgb(219, 202, 202);
    float: left;
    font-size: 23px;
    padding: 20px;
    font-family: "Domine", serif;
}